/* About Page Styling
 * ========================================================================== */

.about-title-section .wrap {
	color: #fff;
	height: 100%;
}

.about-title-section h1 {
	padding: 150px 0;
	visibility: hidden;
}

.html-zone-1,
.html-zone-1,
.html-zone-3 {
	text-align: center;
}

.html-zone-2 {
	background-color: #ECEFF1;
}

.html-zone-1 p,
.html-zone-2 p,
.html-zone-3 p {
	padding: 0 20px;
	text-align: justify;
}