/* Recent Projects Page Styling
 * ========================================================================== */

.recent-projects-title-section h1 {
	color: #fff;
	font-size: 75px;
	padding: 20px 0;
	text-align: center;
}

.html-zone-1,
.html-zone-1,
.html-zone-3 {
	text-align: center;
}

.html-zone-2 {
	background-color: #ECEFF1;
}

.html-zone-2 .wrap {
 	max-width: 100%;
 	padding: 0;
 }

.html-zone-2 .widget-area {
 	margin: 0 auto 20px;
}

.testimonials-title-section {
	text-align: center;
}

.testimonials-title-section h3 {
	color: #fff;
	margin: 50px auto;
}

.html-zone-3 .value {
	margin: 60px auto;
	max-width: 700px;
}

.html-zone-3 .testimonials {
	margin: 60px auto;
}

/* ## Slider styling
--------------------------------------------- */

/* Tiny Carousel */
#slider1 {
    height: 1%;
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
}

#slider1 .viewport {
    height: 125px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
   display: none;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 50%;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview li {
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    height: 121px;
    width: 236px;
 }

#slider1 img {
	max-width: 90%;
}