/* Contact Page Styling
 * ========================================================================== */

.contact-title-section .wrap {
	color: #fff;
	height: 100%;
	text-align: center;
}

.contact-title-section h1 {
	padding: 75px 0 0;
}

.contact-title-section .contact-video img {
	opacity: .7;
	padding-bottom: 25px;
}

.contact-title-section .contact-video img:hover {
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.contact-title-section .button {
	margin-bottom: 30px;
}

.html-zone-1 {
	text-align: center;
}

.html-zone-1 .contact-section {
	margin:auto;
	max-width: 800px;
}

.html-zone-2 {
	background-color: #ECEFF1;
}

/* Front Page Google-Maps section
--------------------------------------------- */

#google-maps {
	display: none;
	/*height: 300px;
	width: 100%;
	position: relative;
	overflow: hidden;*/
}