/* How It Works Page Styling
 * ========================================================================== */
.how-it-works-title-section {
	background-color: #ECEFF1;
	width: 100%;
}

.how-it-works-title-section .wrap {
	text-align: center;
}

.how-it-works-title-section h1 {
	font-size: 75px;
	margin-bottom: 0;
	padding: 10px 0;
}

.left {
	text-align: left;
}

.left p {
	text-align: justify;
}

.right {
	text-align: right;
}

.right p {
	text-align: justify;
}

.html-zone-1,
.html-zone-2,
.html-zone-3,
.html-zone-4,
.html-zone-5,
.html-zone-6,
.html-zone-7 {
	text-align: center;
}

.html-zone-1 .wrap,
.html-zone-2 .wrap,
.html-zone-3 .wrap,
.html-zone-4 .wrap,
.html-zone-5 .wrap,
.html-zone-6 .wrap,
.html-zone-7 .wrap,
.html-zone-8 .wrap {
	padding: 0;
}

.html-zone-1 img,
.html-zone-2 img,
.html-zone-3 img,
.html-zone-4 img,
.html-zone-5 img,
.html-zone-6 img,
.html-zone-7 img {
	margin-top: 40px;
	max-width: 80%;
}

.html-zone-2,
.html-zone-4,
.html-zone-6 {
	background-color: #ECEFF1;
}

.large-step {
	color: #0066CC;
	font-size: 100px;
}

.larger-line {
    font-size: 140px;
    bottom: -3px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

@media only screen and (max-width: 1110px) {

	.larger-line {
    display: none;
	}

	.html-zone-1 .wrap,
	.html-zone-2 .wrap,
	.html-zone-3 .wrap,
	.html-zone-4 .wrap,
	.html-zone-5 .wrap,
	.html-zone-6 .wrap,
	.html-zone-7 .wrap,
	.html-zone-8 .wrap {
		padding: 10px;
	}

}