/* Front Page Widgets
 * ========================================================================== */

.widget-area {
	margin-bottom: 40px;
}

.flexible-widgets .widget {
	margin-bottom: 20px;
}

.flexible-widgets .widget:last-child {
	margin-bottom: 0;
}

[class^="front-page-"]:last-child .widget-area:last-child {
	margin-bottom: 0;
}

.shadow-border {
	background: #fff;
	border-radius: 3px;
	padding: 20px;

	-webkit-box-shadow: 0px 10px 50px 0px rgba(84,110,122,0.25);
	-moz-box-shadow: 0px 10px 50px 0px rgba(84,110,122,0.25);
	box-shadow: 0px 10px 50px 0px rgba(84,110,122,0.25);
}

@media only screen and (min-width: 800px) {

	.widget-area {
		margin-bottom: 0px;
	}

	.flexible-widgets,
	.flexible-widgets .featured-content.widget .widget-wrap {
		margin-left: -10px;
		margin-right: -10px;
		width: calc( 100% + 20px );
		display: inline-block;
	}

	.flexible-widgets .widget,
	.flexible-widgets .featured-content.widget > .entry {
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.flexible-widgets.widget-fourths .widget {
		width: 25%;
	}

	.flexible-widgets.widget-halves .widget {
		width: 50%;
	}

	.flexible-widgets.widget-thirds .widget {
		width: 33.33%;
	}

	.flexible-widgets.widget-halves .widget:nth-child(even),
	.flexible-widgets.widget-thirds .widget:nth-child(3n+1),
	.flexible-widgets.widget-fourths .widget:nth-child(4n+1) {
		clear: left;
	}

}

/* Front Page 1
 * ========================================================================== */

.front-page-1 {
	color: #fff;
	padding: 40px auto;
}

.front-page-1 .widget-area {
	margin-bottom: 0;
}

.front-page-1 .button {
	background-color: #cc6600;
}

.front-page-1 h1 {
	font-size: 35px;
	margin-top: 40px;
	text-align: center;
}

.front-page-1 h2 {
	/*color: #F5F7F8;*/
	color: #cc6600;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	text-align: center;
}

.front-page-1 h5 {
    font-size: 31px;
}

.video a {
    position: absolute;
    display: block;
    background: url("https://topvideomarket.wpengine.com/wp-content/themes/maker-pro/images/youtube-play-button.png");
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin: -440px 0 0 -403px;
    opacity: .7;
}

.video-smaller a {
    position: absolute;
    display: block;
    background: url("https://topvideomarket.wpengine.com/wp-content/themes/maker-pro/images/youtube-play-button.png");
    height: 126px;
    width: 126px;
    top: 50%;
    left: 50%;
    margin: -63px 0 0 -63px;
    opacity: .7;
}

.video a:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


/* Front Page logo section
 * ========================================================================== */

 .front-page-pre-2 {
 	background-color: #ECEFF1;
 }

 .front-page-pre-2 .wrap {
 	max-width: 100%;
 	padding: 0;
 }

.front-page-pre-2 .widget-area {
 	margin: 0 auto 20px;
}

/* ## Slider styling
--------------------------------------------- */

/* Tiny Carousel */
#slider1 {
    height: 1%;
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
}

#slider1 .viewport {
    height: 125px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
   display: none;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 50%;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview li {
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    height: 121px;
    width: 236px;
 }

#slider1 img {
	max-width: 90%;
}

/* Front Page 2
 * ========================================================================== */

.front-page-2 {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.front-page-2 .wrap {
	max-width: 1440px;		
	width: 100%;		
	margin: 0 auto;		
	padding: 0;
}

.front-page-2 .widget-area {
	margin: 40px auto 30px;
}


.front-page-2 .featured-content article.entry {
  position: relative;
  padding: 0;
}

.front-page-2 .featured-content article a {
  margin: 0;
  display: block;
}

.front-page-2 article:after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: 2;
  pointer-events: none;
}

.front-page-2 article .entry-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

.front-page-2 article .entry-header .entry-title {
  margin: 0;
}

.front-page-2 article .entry-header a {
  color: #fff;
  padding: 20px;
  width: 100%;
  display: block;
}

.front-page-2 .widget-area {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	position: relative;
}

.front-page-2 .info-dots {
	border:3px dotted #0066CC;
	border-left:none;
	padding:20px 20px 20px 0;
	margin-bottom:40px;
}

.front-page-2 p {
	text-align:justify;
	padding: 0 20px;
	line-height: 1.7;
}

/* Front Page 3
 * ========================================================================== */

.front-page-3 {
	background-color:#ECEFF1;
	font-weight: 700;
}

.front-page-3 h2 {
	font-weight: 700;
}

.front-page-3 .widget-area {
 	margin: 30px auto;
}

.front-page-3 .widget-area sub {
	bottom:-0.35;
	font-size: 90%;
}

.front-page-3 img {
	-webkit-filter: opacity(30%);
}

/* Front Page 4
 * ========================================================================== */

.front-page-4 {
 	margin: 0 auto 0;
 }

.front-page-4 h3 {
	font-size: 40px;
    line-height: 1;
    color: #fff;
}

 .front-page-4 .widget-area {
 	margin-bottom: 0;
 }

 .front-page-4 .title,
 .front-page-4 .cta  {
 	text-align: center;
 }

 .front-page-4 .cta  {
 	margin-top: 20px;
 }

/* Front Page 5
 * ========================================================================== */

.front-page-5 {
	display: none;
}

 .front-page-5 {
 	margin: 60px auto;
 }

 .front-page-5 h3{
 	font-size: 40px;
 	text-align: center;
 }

.front-page-5 a.button {
 	text-align: center;
 }

 .footer-widgets-5.widget-area {
 	line-height: 0;
 	text-align: center;
 }

/* Front Page 6
 * ========================================================================== */

.front-page-6 .widgettitle {
	 color: #57e5ae;
}

@media only screen and (min-width: 800px) {

	.front-page-6 .widget {
	 	margin-left: 1.5625%;
	 	padding-left: 32.291666666667%;
		position: relative;
	}

	.front-page-6 .widgettitle {
		position: absolute;
		left: 0;
		width: 32.291666666667%;
		padding-right: 40px;
	}

}

/* Front Page 7
 * ========================================================================== */ 

.front-page-7 {
	text-align: center;
}

.front-page-7 .value {
	margin: 60px auto;
	max-width: 700px;
}

.front-page-7 .testimonials {
	margin: 20px auto 10px;
}

.front-page-7 p {
	text-align:justify;
	padding: 0 20px;
	line-height: 1.7;
}



/* Front Page 8
 * ========================================================================== */

.front-page-8 .featuredpage .alignleft,
.front-page-8 .featuredpage .alignright {
	width: 100%;
	margin: 0 auto 20px;
}


@media only screen and (min-width: 800px) {

	.front-page-8 .flexible-widgets .widget {
		margin-bottom: 60px;
	}

	.front-page-8 .flexible-widgets .widget:last-child {
		margin-bottom: 0;
	}

	.front-page-8 .featuredpage .alignleft,
	.front-page-8 .featuredpage .alignright {
		max-width: 63.4%;
	}

	.front-page-8 .featuredpage .alignleft {
		margin-left: -13.4%;
		margin-right: 7.6822916667%;
	}

	.front-page-8 .featuredpage .alignright {
		margin-right: -13.4%;
		margin-left: 7.6822916667;
	}

}

@media only screen and (max-width: 1024px) {

	.front-page-pre-2 #slider1{
		padding: 0;
	}

	.front-page-2 .wrap,
	.front-page-3 .wrap,
	.front-page-4 .wrap,
	.front-page-7 .wrap,
	.footer-widgets .wrap {
		padding: 10px;
	}
}

@media only screen and (max-width: 800px) {

	.front-page-2 .info-dots {
		border:3px dotted #0066CC;
		border-left:3px dotted #0066CC;
		padding:20px;
		margin-bottom:40px;
	}

}

@media only screen and (max-width: 615px) {
	.video a{
		margin: -440px 0 0 -400px!important;
	}
}

@media only screen and (max-width: 604px) {
	.video a{
		margin: -440px 0 0 -100px!important;
	}
}

@media only screen and (max-width: 525px) {
	.video a{
		margin: -400px 0 0 -100px!important;
	}
}

@media only screen and (max-width: 500px) {

	.video a{
		top:60%;
		margin: -400px 0 0 -100px!important;
	}

}

@media only screen and (max-width: 450px) {
	.video a{
		margin: -380px 0 0 -100px!important;
	}
}

@media only screen and (max-width: 425px) {

	.video a{
		margin: -340px 0 0 -100px!important;
	}

}

@media only screen and (max-width: 375px) {

	.video a{
		margin: -320px 0 0 -100px!important;
	}

}

@media only screen and (max-width: 320px) {

	.video a{
		margin: -300px 0 0 -100px!important;
	}

}
