<!-- First HTML Zone -->
<div style="margin:50px auto 50px;max-width: 800px;width: 100%;">
    <h4 style="margin: 50px auto 30px;max-width: 707px;width: 100%;">Let’s start with explaining what an explainer video is, or just watch <span style="border-bottom: 2px solid #0066CC">[video_popup url="https://www.youtube.com/watch?v=31C35kntUeI" text="this…" auto="yes"]</span></h4>
    <p>At TopVideoMarketer we make the proven benefits of the explainer video more transparent. We create the most captivating and engaging animated and whiteboard explainer videos in the industry. OUR GOAL is to give you a powerful and engaging tool to capture your target audience and turn them into buying clients, aka revenue. You know you want to increase revenue, but you are afraid to spend marketing dollars without a guarantee it will work. With so many options in today’s competitive world and everyone telling you they have the answer, it is overwhelming for business owners. You are probably spending a lot of money (not to mention energy) to drive people to your website, but what happens once you get them there? YOU MUST CONVERT them. Otherwise, everything spent getting them there was a waste. The original video content we create is done in a fun way that allows you to engage and educate <a id="the-team"></a>your prospects and get them comfortable and excited to buy from you!</p>
</div>
<!-- End First HTML Zone -->


<!-- Sencond HTML Zone -->
<h3 style="text-align: center">The Team</h3>
<div class="two-thirds first">
    <p style="margin-top: 30px;">Our team comes to work every day because we have a passion for helping businesses flourish. We take great pride in telling the story of your product/service in a creative and compelling manner. You get why your product/service is extraordinary; you need a simple and effective solution to ensure your prospects get it too! This is why we do what we do. Our team is diverse. We are graphic designers, writers, marketing strategists and business people. Our diversity is our competitive advantage. Our collaborative approach to making each video remarkable unifies us. At TopVideoMarketer we provide the exceptional service we’d want to experience ourselves!</p>
</div>
<div class="one-third" style="text-align: center;">
    <img src="/wp-content/themes/maker-pro/images/about-our-team.jpg" alt="The TopVideoMarketer Team!" />
    <a href="#infusionsoft-popup" class="button open-popup-link">Click Here to Learn More</a>
    <a id="the-leadership"></a>
    <div id="infusionsoft-popup" class="white-popup mfp-hide" style="max-width: 500px;margin: auto;">
        <form method="post" accept-charset="UTF-8" id="gform_4" action="https://of212.infusionsoft.com/app/form/process/aa35506907a8cd761c50a4f59f00e128">
            <input name="inf_form_xid" type="hidden" value="aa35506907a8cd761c50a4f59f00e128" />
            <input name="inf_form_name" type="hidden" value="Potential Salespeople" />
            <input name="infusionsoft_version" type="hidden" value="1.62.0.53" />
            <div class="gform_body">
                <h5 style="text-align: center;">We are Hiring! If you have a passion for online marketing videos, a strong work ethic, and a desire to help clients succeed, reach out to us today!</h5>
                <div class="ginput_complex ginput_container no_prefix has_first_name no_middle_name no_last_name no_suffix gf_name_has_1 ginput_container_name gfield_trigger_change" id="input_4_1">
                    <label for="inf_field_FirstName">First Name *</label>
                    <input type="text" name="inf_field_FirstName" id="inf_field_FirstName" value="" aria-label="First name" tabindex="2" aria-invalid="false">
                </div>
                <div class="ginput_container ginput_container_email">
                    <label for="inf_field_Email">Email *</label>
                    <input name="inf_field_Email" id="inf_field_Email" type="text" value="" class="medium" tabindex="6">
                </div>
                <div class="ginput_container ginput_container_phone">
                    <label for="inf_field_Phone1">Phone 1</label>
                    <input name="inf_field_Phone1" id="inf_field_Phone1" type="text" value="" class="medium" tabindex="7" aria-invalid="false">
                </div>
            </div>
            <div class="gform_footer top_label" style="margin-top: 30px;text-align: center;">
                <input type="submit" id="gform_submit_button_4" class="gform_button button" value="Yes!" tabindex="8">
            </div>
        </form>
        <script type="text/javascript" src="https://of212.infusionsoft.com/app/webTracking/getTrackingCode"></script>
    </div>
</div>
<div class="clearfix"></div>
<!-- End row -->
<!-- End Second HTML Zone -->






<!-- Third Zone -->
<h3 style="text-align: center">Leadership</h3>
<div class="one-third first" style="text-align: center;">
	<img src="/wp-content/themes/maker-pro/images/sandra-paperny.jpg"  class="circle" alt="Sandra L. Paperny - Founder & Cheif Project Manager" />
	<h6><strong>Sandra L. Paperny</strong></h6> 
	<h6>Founder & Chief Project Manager</h6>
</div>
<div class="two-thirds">
	<p style="margin-top: 30px;">Imagine spending your entire life climbing the corporate ladder all the while secretly dreaming about starting your own business. With years of knowledge and experience working for Fortune 500 companies, Sandra took a leap of faith and launched TopVideoMarketer in 2016. Her dream of becoming a business owner in the online video marketing space was realized. Sandra values hard work, the entrepreneurial spirit and the pursuit of excellence. She also values frozen yogurt, CrossFit, and watching countless videos on her Facebook news feed, in no particular order.</p>
</div>
<div class="clearfix" style="padding-bottom:50px;"></div>
<!-- End row -->
<div class="two-thirds first">
	<p style="margin-top: 30px;">Michael is our expert script writer. A public speaker, prolific reader, and published author, Michael keeps us on our toes when it comes to writing captivating and compelling messaging. He has published 15 books and counting. Michael has the unique ability to engage and entice an audience; all the while explaining your business story. In Michael’s spare time he enjoys writing (big surprise), running, long distance running, and more running. He’s a runner.</p>
</div>
<div class="one-third" style="text-align: center;">
	<img src="/wp-content/themes/maker-pro/images/michael-santos.png" class="circle" alt="Michael G. Santos - Published Author and Script Writer" />
	<h6><strong>Michael G. Santos</strong></h6> 
	<h6>Published Author and Script Writer</h6>
</div>
<div class="clearfix" style="padding-bottom:50px;"></div>
<!-- End row -->
<div class="one-third first" style="text-align: center;">
    <img src="/wp-content/themes/maker-pro/images/shannon-m-feldheim.jpg"  class="circle" alt="Shannon M. Feldheim - Marketing Strategist" />
    <h6><strong>Shannon M. Feldheim</strong></h6> 
    <h6>Marketing Strategist</h6>
</div>
<div class="two-thirds">
    <p style="margin-top: 30px;">Shannon is our in house digital media expert. With over 20 years Marketing and Advertising experience she has an extensive background in online video solutions. Shannon helps businesses stay on top of the latest trends. She has developed marketing strategy for both small and large businesses and knows the importance of ROI (Return on Investment). She has a proven record of increasing website traffic, conversions and revenue. Around here, we call Shannon the “wonder-woman”.  When Shannon is not working she enjoys spending time with her son and as a hardcore Michigan football fan she loves watching college sports. Go Blue!</p>
</div>
<div class="clearfix" style="padding-bottom:50px;"></div>
<!-- End row -->
<div class="one-half first">
	<img src="/wp-content/themes/maker-pro/images/super-baby.jpg" class="circle" alt="SuperBaby - Too cute for a title" />
	<h6><strong>SuperBaby</strong></h6> 
	<h6>Too cute for a title</h6>
	<p>SuperBaby is truly the inspiration behind it all. She has an intense passion for all things digital. In fact, at only two years old, she has a firm grasp on all the best animation and storytelling available on the market today. Her favorite hobby is watching videos on the iPad and she vehemently protests when one tries to distract her from that activity. Recently she started her own video blog and will likely follow in her mother’s entrepreneurial footsteps.</p>
</div>
<!-- End row -->
<div class="one-half">
	<img src="/wp-content/themes/maker-pro/images/memphis.jpg" class="circle" alt="The Mascot - 'Memphis the flying dog'" />
	<h6><strong>The Mascot</strong></h6> 
	<h6>'Memphis the flying dog'</h6>
	<p>We all know videos of dancing babies and cute puppies often go viral. So our mascot, aka “Memphis,” insists that every one of our explainer videos include a small white fluffy dog. He doesn’t realize that he’s not actually in charge of the creative direction of each video, and thinks that he has some great insights to share, but we will let you be the judge of that. Memphis has been Sandra’s loyal sidekick for 12 years, and we love his sweet demeanor.</p>
</div>
<div class="one-half">
</div>
<div class="clearfix"></div>
<!-- End row -->
<!-- End Third HTML Zone -->