<!-- Affiliate Content -->
<div style="max-width: 700px;margin:auto ;text-align: center;width: 100%;">
    <h4>ARE YOU INTERESTED IN EARNING 5 FIGURES A MONTH? IF SO, TAKE ACTION NOW!</h4>
    <p>Enter your name and email below to learn more…</p>
    <form method="post" accept-charset="UTF-8" id="gform_4" action="https://of212.infusionsoft.com/app/form/process/aa35506907a8cd761c50a4f59f00e128"><input name="inf_form_xid" type="hidden" value="aa35506907a8cd761c50a4f59f00e128" /><input name="inf_form_name" type="hidden" value="Potential Salespeople" /><input name="infusionsoft_version" type="hidden" value="1.62.0.53" />
        <div class="gform_body">
            <div class="one-half first">
                <div class="ginput_complex ginput_container no_prefix has_first_name no_middle_name no_last_name no_suffix gf_name_has_1 ginput_container_name gfield_trigger_change" id="input_4_1">
                    <input type="text" name="inf_field_FirstName" id="inf_field_FirstName" value="" aria-label="First name" tabindex="2" aria-invalid="false" placeholder="First name:">
                </div>
            </div>
            <div class="one-half">
                <div class="ginput_container ginput_container_phone">
                    <input name="inf_field_Phone1" id="inf_field_Phone1" type="text" value="" class="medium" tabindex="7" aria-invalid="false" placeholder="Phone number:">
                </div>
            </div>
            <div class="ginput_container ginput_container_email">
                <input name="inf_field_Email" id="inf_field_Email" type="text" value="" class="medium" tabindex="6" placeholder="Email:">
            </div>
        </div>
        <div class="gform_footer top_label" style="margin-top: 30px;text-align: center;">
            <input type="submit" id="gform_submit_button_4" class="gform_button button" value="Yes!" tabindex="8">
        </div>
    </form>
    <h6>We will never SPAM or sell your information</h6>
</div>
<!-- End Affiliate Content -->







<!-- Affiliate Content -->
<div style="max-width: 700px; margin: auto; text-align: center; width: 100%;">
<h4>Are You Interested In Earning 5 Figures A Month? If So, Take Action NOW!</h4>
Enter your name and email below to learn more...

<form id="gform_4" accept-charset="UTF-8" action="https://of212.infusionsoft.com/app/form/process/aa35506907a8cd761c50a4f59f00e128" method="post"><input name="inf_form_xid" type="hidden" value="aa35506907a8cd761c50a4f59f00e128" /><input name="inf_form_name" type="hidden" value="Potential Salespeople" /><input name="infusionsoft_version" type="hidden" value="1.62.0.53" />
<div class="gform_body">
<div class="one-half first">
<div id="input_4_1" class="ginput_complex ginput_container no_prefix has_first_name no_middle_name no_last_name no_suffix gf_name_has_1 ginput_container_name gfield_trigger_change"><input id="inf_field_FirstName" tabindex="2" name="inf_field_FirstName" type="text" value="" placeholder="First name:" /></div>
</div>
<div class="one-half">
<div class="ginput_container ginput_container_phone"><input id="inf_field_Phone1" class="medium" tabindex="7" name="inf_field_Phone1" type="text" value="" placeholder="Phone number:" /></div>
</div>
<div class="ginput_container ginput_container_email"><input id="inf_field_Email" class="medium" tabindex="6" name="inf_field_Email" type="text" value="" placeholder="Email:" /></div>
</div>
<div class="gform_footer top_label" style="margin-top: 30px!important; text-align: center;"><input id="gform_submit_button_4" class="gform_button button" tabindex="8" type="submit" value="Yes!" /></div>
</form>
<h6>Integrity matters: We will never share or sell your information</h6>
</div>
<!-- End Affiliate Content -->