<!-- First HTML Zone -->
<div style="margin: 60px auto 0;max-width: 707px;width: 100%;">
	<p>You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again. At TopVideoMarketer, we provide the exceptional service we'd want to experience ourselves!</p>
</div>

<div class="contact-section">
	<div class="one-half first">
		[gravityform id="2" title="false" description="false"]
	</div>
	<div class="one-half">
		<h6>Have a question?</h6>
		<a href="mailto:info@TopVideoMarketer.com">info@TopVideoMarketer.com</a>
		<h6>Join Our Team!</h6>
		<a href="mailto:jobs@TopVideoMarketer.com">jobs@TopVideoMarketer.com</a>
		<sub><i class="fa fa-phone fa-2x"></i></sub> <a href="tel:7142532449">714-253-2449</a>
		<h6><sub><i class="fa fa-map-marker fa-2x"></i></sub> Address</h6>
		<p>23679 Calabasas Road, Suite 905 <br>Calabasas, CA 91302</p>

	</div>
	<div class="clearfix"></div>
	<!-- End row -->
</div>
<!-- End First HTML Zone -->

