<!-- Front Page 1 widget contents -->
<h1>Stunning Explainer Videos for Businesses That Want Results</h1>
<h2>Watch this short and entertaining video to learn more</h2>
<div style="text-align:center;">
<div class="video">
    <img src="/wp-content/themes/maker-pro/images/explainer-videos-imac@2x.png" style="max-width:600px;width:100%;" /a>
    <a href="https://www.youtube.com/watch?v=RNCfO0G4X7Y" class="vp-a"></a>
</div>
<div class="clearfix"></div>
    <a href="https://www.appointmentcore.com/app/freeslots/vAgutGXBX" class="button" target="_blank" style="margin-bottom: 40px;">Schedule a FREE 20 Minute Call <sub><i class="fa fa-play-circle fa-2x"></i></sub></a>
</div>
<div class="clearfix"></div>
<!-- End Front Page 1 widget contents -->


<!-- End Front Page Client Logos widget contents -->
<div id="slider1">
	<div class="viewport">
		<ul class="overview">
			<li><img src="/wp-content/themes/maker-pro/images/Garage.png" alt="Garage" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/GoAsk.png" alt="Go Ask Sam - Sam Pompeo" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/GoldenState.png" alt="Golden State Lumber" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/JenniJune.png" alt="JenniJune" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/Tripanthology.png" alt="Tripanthology" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/WhiteCollar.png" alt="White Collar Advice" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/Yourtimesharelawyer.png" alt="Your Timeshare Lawyer" /></li>
            <li><img src="/wp-content/themes/maker-pro/images/Maccabees.png" alt="Maccabee's" /></li>
            <li><img src="/wp-content/themes/maker-pro/images/MaxFundingDirect.png" alt="MaxFundingDirect" /></li>
		</ul>
	</div>
</div>
<!-- End Front Page Client Logos widget contents -->



<!-- Front Page 2 widget contents -->
<div class="one-third first">
    <img src="/wp-content/themes/maker-pro/images/reach.jpg" alt="reach" />
    <h3>Reach</h3>
    <p>Reaching your target audience is critical to business success. Our high-quality explainer videos exponentially increase your ability to be found, to be understood and to be shared.</p>
</div>
<div class="one-third">
    <img src="/wp-content/themes/maker-pro/images/engage.jpg" alt="engage" />
    <h3>Engage</h3>
    <p>If a picture is worth a thousand words, then a video is worth billions. Our explainer videos allow you to connect with prospects on a deeper emotional level, leaving them with a lasting impression.</p>
</div>
<div class="one-third">
    <img src="/wp-content/themes/maker-pro/images/convert.jpg" alt="convert" />
    <h3>Convert</h3>
    <p>Video impacts buyer purchasing behaviors. 77% of consumers say they've been convinced to buy a product or service after watching a video. Our videos turn leads into customers.</p>
</div>
<div class="clearfix"></div>
<div style="border: 3px solid #0066CC; margin: auto; max-width: 1000px; padding:40px;">
    <div class="downloadable-guide">
        <h3>FREE Downloadable Infographic</h3>
        <div class="one-sixth first">
            <img src="/wp-content/themes/maker-pro/images/infographic.jpg" alt="Reasons your marketing efforts could be an epic waste of time and money" style="max-width: 150px;margin-top:8px;" />
        </div>
        <div class="five-sixths info-dots" >
            <h5 style="color: #cc6600;">Top 10 Reasons your marketing efforts could be an epic waste of time and money</h5>
            <p style="margin:0;">Includes jaw-dropping statistics to convince your boss that using online video in your marketing efforts is worth the investment.</p>
        </div>
        <div class="clearfix"></div>
        <div style="text-align: center;">
            <a href="#infusionsoft-popup" class="button open-popup-link">Yes! Send The Infographic!</a>
        </div>
        <div id="infusionsoft-popup" class="white-popup mfp-hide" style="max-width: 500px;margin: auto;">
            <form method="post" accept-charset="UTF-8" id="gform_4" action="https://of212.infusionsoft.com/app/form/process/3ef582b913a6ae3aab645d15fe0454da">
                <input name="inf_form_xid" type="hidden" value="3ef582b913a6ae3aab645d15fe0454da" />
                <input name="inf_form_name" type="hidden" value="TopVM" />
                <input name="infusionsoft_version" type="hidden" value="1.62.0.53" />
                <div class="gform_body">
                    <h5 style="margin-top:30px; text-align: center;">It’s time to take my video marketing strategy to the next level… Download this FREE Infographic Now to discover what is truly possible in online video marketing.</h5>
                    <div class="ginput_complex ginput_container no_prefix has_first_name no_middle_name no_last_name no_suffix gf_name_has_1 ginput_container_name gfield_trigger_change" id="input_4_1">
                        <label for="inf_field_FirstName">First Name *</label>
                        <input type="text" name="inf_field_FirstName" id="inf_field_FirstName" value="" aria-label="First name" tabindex="2" aria-invalid="false">
                    </div>
                    <div class="ginput_container ginput_container_email">
                        <label for="inf_field_Email">Email *</label>
                        <input name="inf_field_Email" id="inf_field_Email" type="text" value="" class="medium" tabindex="6">
                    </div>
                    <div class="ginput_container ginput_container_phone">
                        <label for="inf_field_Phone1">Phone 1</label>
                        <input name="inf_field_Phone1" id="inf_field_Phone1" type="text" value="" class="medium" tabindex="7" aria-invalid="false">
                    </div>
                </div>
                <div class="gform_footer top_label" style="margin-top: 30px;text-align: center;">
                    <input type="submit" id="gform_submit_button_4" class="gform_button button" value="Yes!" tabindex="8">
                </div>
            </form>
            <script type="text/javascript" src="https://of212.infusionsoft.com/app/webTracking/getTrackingCode"></script>
        </div>
    </div>
</div>
<!-- Front Page 2 widget contents -->




<!-- Front Page 3 widget contents -->
<h3>Our videos educate & sell your clients</h3>
<ul>
	<li><sub><i class="fa fa-check-circle-o fa-2x"></i></sub> Perfectly explain your business on your website</li>
	<li><sub><i class="fa fa-check-circle-o fa-2x"></i></sub> Send videos in your e-mail campaigns</li>
	<li><sub><i class="fa fa-check-circle-o fa-2x"></i></sub> Use videos on your blog</li>
	<li><sub><i class="fa fa-check-circle-o fa-2x"></i></sub> Post, share & advertise your videos on social media</li>
	<li><sub><i class="fa fa-check-circle-o fa-2x"></i></sub> Retarget website visitors using your videos</li>
    <li><sub><i class="fa fa-check-circle-o fa-2x"></i></sub> Pull prospects in, connect with them emotionally, and get them to take the next step with your video.</li>

</ul>
<!-- End Front Page 3 widget contents -->


<!-- Front Page 4 widget contents -->
    <div style="text-align: center;">
    <img src="/wp-content/themes/maker-pro/images/recent-projects.png" alt="Recent Projects" style="margin: auto auto 50px;"/>
    </div>
    <div class="clearfix"></div>
    <!-- First row -->
    <div class="one-third first">
            <a href="https://www.youtube.com/watch?v=EZ608shFZyM" class="vp-a"><img src="/wp-content/themes/maker-pro/images/your-timeshare-lawyer-thumbnail.jpg" alt="YourTimeShareLawyer"></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=PAHLChRZEU4" class="vp-a"><img src="/wp-content/themes/maker-pro/images/tripanthology.jpg" alt="TripAnthology"/></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=AD1krLhlDjA" class="vp-a"><img src="/wp-content/themes/maker-pro/images/golden-state-lumber.jpg" alt="GoldenStateLumber"/></a>
    </div>
    <div class="clearfix"></div>
    <!-- Second row -->
    <div class="one-third first">
            <a href="https://www.youtube.com/watch?v=3HHsAOOxkAE" class="vp-a"><img src="/wp-content/themes/maker-pro/images/resort-advisory-group.jpg" alt="Resort Advisory Group"/></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=dSxfPqbnIxQ" class="vp-a"><img src="/wp-content/themes/maker-pro/images/jro-wealth-management.jpg" alt="JRO Wealth Management"/></a>
    </div>
    <div class="one-third">
          <a href="https://www.youtube.com/watch?v=febGOOqnNHA" class="vp-a"><img src="/wp-content/themes/maker-pro/images/whats-an-animated-explainer-vide.jpg" alt="What’s an animated explainer video"/></a>
    </div>
    <div class="clearfix"></div>
    <div class="cta">
        <a href="https://topvideomarketer.com/video-gallery/" target="_blank" class="button">See More</a>
    </div>
</div>
<!-- End Front Page 4 widget contents -->




<!-- Front Page 5 widget contents -->
<div class="shadow-border">
	<div class="downloadable-guide shadow-border">
		<h3>FREE Downloadable Infographic</h3>
		<div class="one-sixth first">
			<img src="/wp-content/themes/maker-pro/images/optionTop10.png" alt="Reasons your marketing efforts could be an epic waste of time and money" style="max-width: 100px" />
		</div>
		<div class="five-sixths">
			<h5>Reasons your marketing efforts could be an epic waste of time and money</h5>
			<p>Includes jaw-dropping statistics to convince your boss that using online video in your marketing efforts is worth the investment.</p>
		</div>
		<div class="clearfix"></div>
		<div style="text-align: center;">
			<a href="#infusionsoft-popup" class="button open-popup-link">Yes! Send The Infographic!</a>
		</div>
		<div id="infusionsoft-popup" class="white-popup mfp-hide" style="max-width: 500px;margin: auto;">
        <form method="post" accept-charset="UTF-8" id="gform_4" action="https://of212.infusionsoft.com/app/form/process/aa35506907a8cd761c50a4f59f00e128">
            <input name="inf_form_xid" type="hidden" value="aa35506907a8cd761c50a4f59f00e128" />
            <input name="inf_form_name" type="hidden" value="Potential Salespeople" />
            <input name="infusionsoft_version" type="hidden" value="1.62.0.48" />
            <div class="gform_body">
            		<h4 style="text-align: center;">This goes to InfusionSoft</h4>
                <div class="ginput_complex ginput_container no_prefix has_first_name no_middle_name no_last_name no_suffix gf_name_has_1 ginput_container_name gfield_trigger_change" id="input_4_1">
                    <label for="inf_field_FirstName">First Name *</label>
                    <input type="text" name="inf_field_FirstName" id="inf_field_FirstName" value="" aria-label="First name" tabindex="2" aria-invalid="false">
                </div>
                <div class="ginput_container ginput_container_email">
                    <label for="inf_field_Email">Email *</label>
                    <input name="inf_field_Email" id="inf_field_Email" type="text" value="" class="medium" tabindex="6">
                </div>
                <div class="ginput_container ginput_container_phone">
                    <label for="inf_field_Phone1">Phone 1</label>
                    <input name="inf_field_Phone1" id="inf_field_Phone1" type="text" value="" class="medium" tabindex="7" aria-invalid="false">
                </div>
            </div>
            <div class="gform_footer top_label" style="margin-top: 30px;text-align: center;">
                <input type="submit" id="gform_submit_button_4" class="gform_button button" value="Yes!" tabindex="8">
            </div>
        </form>
        <script type="text/javascript" src="https://of212.infusionsoft.com/app/webTracking/getTrackingCode"></script>
    </div>
	</div>
</div>
<!-- End Front Page 5 widget contents -->




<!-- Front Page 7 widget contents -->
<div class="testimonials">
    <div style="text-align: center;">
    <img src="/wp-content/themes/maker-pro/images/testimonials.jpg" alt="Testimonials" style="margin: auto auto 50px;"/>
    </div>
    <div class="clearfix"></div>
    <div class="one-third first">
        <img src="/wp-content/themes/maker-pro/images/sam-pompeo.jpg" class="circle" alt="Sam Pompeo" />
        <img src="/wp-content/themes/maker-pro/images/ideal-socal-homes.png" alt="Ideal SoCal Homes" style="margin:10px auto;" />
        <p>“The Explainer Video you created for us exceeded our expectations! It’s fun and engaging, and it delivers the perfect message. With so much competition in my industry, this video sets us apart and clearly describes why our clients should choose us, every time! You guys nailed it. It’s the best marketing investment we have ever made. We will definitely use you again for more videos to promote our business. Thank you, TopVideoMarketer!”</p>
        <h5>Sam Pompeo</h5>
        <h6>Real Estate Expert, Ideal SoCal Homes</h6>
    </div>
    <div class="one-third">
        <img src="/wp-content/themes/maker-pro/images/shon-hopwood.jpg" class="circle" alt="Shon Hopwood" />
        <img src="/wp-content/themes/maker-pro/images/your-timeshare-lawyer.jpg" alt="Your Timeshare Lawyer" style="margin:10px auto;" />
        <p>“I was hesitant to put my TopVideoMarketer explainer video at the top of my home page as you advised, but now I clearly understand the benefits it brings. My site went from “good” to “WOW!” Now, for the price of a few dinners out with my family, I finally have a site that is doing something for me. Our conversion rates have doubled, and the video has been incredibly effective in persuading website visitors to choose us. I’m now sending the video to prospects through e-mails and remarketing with it on my social media pages. The investment paid for itself very quickly. It brings a smile to my face every time I watch it! Thanks to you, I’m a big believer in online video now.”</p>
        <h5>Shon Hopwood</h5>
        <h6>Lawyer, YourTimeShareLawyer.com</h6>
    </div>
    <div class="one-third">
        <img src="/wp-content/themes/maker-pro/images/jeffrey-r-ortiz.jpg" class="circle" alt="JRO Wealth Management" />
        <img src="/wp-content/themes/maker-pro/images/jro-wealth.png" alt="Your Timeshare Lawyer" style="margin:10px auto;display: block;" />
        <p>"You made the entire process easy and efficient. We are thrilled with the final product. The video has played a critical role in reaching our target audience and providing insight into who we are and what we do. It’s clear you care about helping your customers grow their businesses and we appreciate how smooth and effective the process was. Thank you again!"</p>
        <h5>Jeffrey R. Ortiz</h5>
        <h6>JRO Wealth Management, President and CEO</h6>
    </div>
    <div class="clearfix"></div>
    <!-- End row -->
</div>
<!-- End Front Page 7 widget contents -->



<style type="text/css">
.video a {
   position: absolute;
   display: block;
   background: url("https://topvideomarket.wpengine.com/wp-content/themes/maker-pro/images/youtube-play-button.png");
   height: 150px;
   width: 150px;
   top: 50%;
   left: 50%;
   margin: -100px 0 0 -75px;
   opacity: .7;
    }

.video a:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
</style>
