<!-- First HTML Zone -->
<div class="one-sixth first">
	<span class="large-step">1</span><span class="larger-line"> | </span>
</div>
<div class="four-sixths left">
	<h3>We Interview You</h3>
	<p>We begin every project with a kick-off meeting. This is our opportunity to gather the information we need to create your memorable explainer video. And, as your partner, we will discuss your overall video marketing strategy; providing insight to ensure it meets your business goals. Here’s a copy of the strategic <a href="http://topvideomarket.wpengine.com/wp-content/uploads/2017/02/TVM-Pre-Production-Questionnaire-2017.docx" download >Pre-Production Questionnaire</a>. We use it as a guide to lead the conversation.</p>
</div>
<div class="one-sixth">
	<img src="/wp-content/themes/maker-pro/images/1.png" alt="We Interview You" />
</div>
<div class="clearfix"></div>
<!-- End First HTML Zone -->



<!-- Second HTML Zone -->
<div class="one-sixth first">
	<img src="/wp-content/themes/maker-pro/images/2.png" alt="We Write Your Script" />
</div>
<div class="four-sixths right">
	<h3>We Write Your Script</h3>
	<p>The script is the key to success for the entire video. We pride ourselves on writing creative, concise and captivating messaging. Each script contains both the narration (what the voice-over talent will read), as well as suggested imagery. We send you the draft for comments, make revisions if necessary, and work towards finalizing the perfect script.</p>
</div>
<div class="one-sixth">
	<span class="larger-line"> | </span><span class="large-step">2</span>
</div>
<div class="clearfix"></div>
<!-- End Second HTML Zone -->



<!-- Third HTML Zone -->
<div class="one-sixth first">
	<span class="large-step">3</span><span class="larger-line"> | </span>
</div>
<div class="four-sixths left">
	<h3>We hire Voiceover artists & Graphic Designers</h3>
	<p>After the script has been approved, we move to a professionally recorded studio voiceover. You will choose from a sample of experienced voiceover artists like the ones below. We will simultaneously identify the most appropriate graphic artists from our seasoned team of designers. Once finalized, we move on to the next stage.</p>
	<p>	<sub style="bottom:-0.6em;"><audio controls="" preload="metadata" style=" width:65px;"><source src="https://topvideomarketer.com/wp-content/uploads/2017/02/sample-20-red.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></sub> Sample #1,  <sub style="bottom:-0.6em;margin-left: 30px;"><audio controls="" preload="metadata" style=" width:65px;"><source src="https://topvideomarketer.com/wp-content/uploads/2017/02/sample-12.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></sub> Sample #2,  <sub style="bottom:-0.6em;margin-left:30px;"><audio controls="" preload="metadata" style=" width:65px;"><source src="https://topvideomarketer.com/wp-content/uploads/2017/02/sample-1.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></sub> Sample #3.
</p>
</div>
<div class="one-sixth">
	<img src="/wp-content/themes/maker-pro/images/3.png" alt="We Hire Voiceover Talent & Graphic Designers" />
</div>
<div class="clearfix"></div>
<!-- End Third HTML Zone -->



<!-- Fourth HTML Zone -->
<div class="one-sixth first">
	<img src="/wp-content/themes/maker-pro/images/4.png" alt="We Purchase Audio Jingle and Sound Effects for Video" />
</div>
<div class="four-sixths right">
	<h3>We Purchase Audio Jingle and Sound Effects for Video</h3>
	<p>In this phase, you will receive a sample of studio quality audio jingles like the ones below. The music will enhance viewer engagement. The samples we provide to you will fit with the tone and goals of your video. Once your jingle has been selected, we move to production.</p>
	<sub style="bottom:-0.6em;"><audio controls="" preload="metadata" style=" width:65px;"><source src="https://topvideomarketer.com/wp-content/uploads/2017/02/fun-guitar-and-ukulele-full_fk4ltN4O.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></sub> Sample #1,  <sub style="bottom:-0.6em;margin-left: 30px;"><audio controls="" preload="metadata" style=" width:65px;"><source src="https://topvideomarketer.com/wp-content/uploads/2017/02/happy-uplifting-piano-30-sec-edit_MJQ06Hrd.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></sub> Sample #2,  <sub style="bottom:-0.6em;margin-left:30px;"><audio controls="" preload="metadata" style=" width:65px;"><source src="https://topvideomarketer.com/wp-content/uploads/2017/02/happy-days_MJzhTSHu.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio></sub> Sample #3.
</div>
<div class="one-sixth">
	<span class="larger-line"> | </span><span class="large-step">4</span>
</div>
<div class="clearfix"></div>
<!-- End Fourth HTML Zone -->



<!-- Fifth HTML Zone -->
<div class="one-sixth first">
	<span class="large-step">5</span><span class="larger-line"> | </span>
</div>
<div class="four-sixths left">
	<h3>We Oversee Video Animation Production</h3>
	<p>We provide checkpoints along the way to ensure client satisfaction throughout the process.</p>
</div>
<div class="one-sixth">
	<img src="/wp-content/themes/maker-pro/images/5.png" alt="We Oversee Video Animation Production" />
</div>
<div class="clearfix"></div>
<!-- End Fifth HTML Zone -->



<!-- Sixth HTML Zone -->
<div class="one-sixth first">
	<img src="/wp-content/themes/maker-pro/images/6.png" alt="We Deliver Video and Edit to Your Satisfaction" />
</div>
<div class="four-sixths right">
	<h3>We Deliver Video and Edit to Your Satisfaction</h3>
	<p>Once you are completely satisfied and everything is approved, we send you the final file in .mp4 format. You are ready to share your explainer video with the world!</p>
</div>
<div class="one-sixth">
	<span class="larger-line"> | </span><span class="large-step">6</span>
</div>
<div class="clearfix"></div>
<!-- End Sixth HTML Zone -->



<!-- Seventh HTML Zone -->
<h3 style="text-align:center;margin:45px;color: #0066CC;">You Get More Clients & Earn More Money!</h3>
<a id="video-gallery"></a>
<a href="https://www.appointmentcore.com/app/freeslots/vAgutGXBX" class="button" target="_blank">Schedule a Free 20 minute Call now</a>
<!-- End Seventh HTML Zone -->


<!-- Eight HTLM Zone -->
<h3 style="text-align:center;margin:45px;">Have a Question?</h3>
<p><strong>Do I really need an eplainer video?</strong></p>
<p><strong>How do I get started?</strong> To get started now, simply download our pre-production questionnaire and send it back to us at info@topvideomarketer.com. We will contact you within two hours to set up the kick-off meeting.</p>
<p>How does it work?</p>
<p><strong>What is the cost?</strong> Our package pricing is extremely affordable! The investment in one of our explainer videos will cost less than a few nice dinners out with your family, yet you’ll reap value from it for years to come.</p>
<p>What if I don’t like the video you make?</p>
<p>Have you worked with companies in my industry?</p>
<p>How much content can fit in one video?</p>
<p>I want to speak with someone first...</p>
<!-- End Eight HTML Zone -->


<!-- Current Eight HTLM Zone -->
    <div style="text-align: center;">
    <img src="/wp-content/themes/maker-pro/images/recent-projects.png" alt="Recent Projects" style="margin: auto auto 50px;"/>
    </div>
    <div class="clearfix"></div>
    <!-- First row -->
    <div class="one-third first">
            <a href="https://www.youtube.com/watch?v=EZ608shFZyM" class="vp-a"><img src="/wp-content/themes/maker-pro/images/your-timeshare-lawyer-thumbnail.jpg" alt="YourTimeShareLawyer"></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=PAHLChRZEU4" class="vp-a"><img src="/wp-content/themes/maker-pro/images/tripanthology.jpg" alt="TripAnthology"/></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=AD1krLhlDjA" class="vp-a"><img src="/wp-content/themes/maker-pro/images/golden-state-lumber.jpg" alt="GoldenStateLumber"/></a>
    </div>
    <div class="clearfix"></div>
    <!-- Second row -->
    <div class="one-third first">
            <a href="https://www.youtube.com/watch?v=3HHsAOOxkAE" class="vp-a"><img src="/wp-content/themes/maker-pro/images/resort-advisory-group.jpg" alt="Resort Advisory Group"/></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=dSxfPqbnIxQ" class="vp-a"><img src="/wp-content/themes/maker-pro/images/jro-wealth-management.jpg" alt="JRO Wealth Management"/></a>
    </div>
    <div class="one-third">
          <a href="https://www.youtube.com/watch?v=febGOOqnNHA" class="vp-a"><img src="/wp-content/themes/maker-pro/images/whats-an-animated-explainer-vide.jpg" alt="What’s an animated explainer video"/></a>
    </div>
    <div class="clearfix"></div>
    <!-- Third row -->
    <div class="one-third first">
            <a href="https://www.youtube.com/watch?v=u27Nk1C25-8&t" class="vp-a"><img src="/wp-content/themes/maker-pro/images/White-Collar-Advice.jpg" alt="WhiteCollarAdvice"/></a>
    </div>
    <div class="one-third">
          <a href="https://www.youtube.com/watch?v=dgNb97cgejs" class="vp-a"><img src="/wp-content/themes/maker-pro/images/JenniJune.jpg" alt="JenniJune"/></a>
    </div>
    <div class="one-third">
          <a href="https://www.youtube.com/watch?v=QnIeVAVM1QI&t" class="vp-a"><img src="/wp-content/themes/maker-pro/images/Resort-Advisory-Group.jpg" alt="Resort Advisory Group"/></a>
    </div>
    <div class="clearfix"></div>
    <!-- Fourth row -->
    <div class="one-third first">
            <a href="https://www.youtube.com/watch?v=dggBwevI2Pk" class="vp-a"><img src="/wp-content/themes/maker-pro/images/MaxFundingDirect.jpg" alt="Max Funding Direct"/></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=Z_NViM3BD6I" class="vp-a"><img src="/wp-content/themes/maker-pro/images/JenniJune-Animated.jpg" alt="JenniJune’s Animated Promo"/></a>
    </div>
    <div class="one-third">
            <a href="https://www.youtube.com/watch?v=31C35kntUeI" class="vp-a"><img src="/wp-content/themes/maker-pro/images/Benefits-of-an-Explainer-Video.jpg" alt="What are the benefits of an explainer video"/></a>
    </div>
    <div class="clearfix"></div>
</div>
<!-- End Current Eight HTLM Zone -->
