<!-- First HTML Zone -->
<div style="margin:auto;">
	<div class="title">
		<h3>Recent Projects</h3>
	</div>
	<!-- First row -->
	<div class="one-third first">
        <a href="https://www.youtube.com/watch?v=EZ608shFZyM" class="vp-a"><img src="/wp-content/themes/maker-pro/images/your-timeshare-lawyer-thumbnail.jpg" alt="YourTimeShareLawyer"></a>
	</div>
	<div class="one-third">
		<a href="https://www.youtube.com/watch?v=PAHLChRZEU4" class="vp-a"><img src="/wp-content/themes/maker-pro/images/tripanthology.jpg" alt="TripAnthology"/></a>
	</div>
	<div class="one-third">
		<a href="https://www.youtube.com/watch?v=AD1krLhlDjA" class="vp-a"><img src="/wp-content/themes/maker-pro/images/golden-state-lumber.jpg" alt="GoldenStateLumber"/></a>
	</div>
	<div class="clearfix"></div>
	<!-- Second row -->
	<div class="one-third first">
		<a href="https://www.youtube.com/watch?v=dSxfPqbnIxQ" class="vp-a"><img src="/wp-content/themes/maker-pro/images/jro-wealth-management.jpg" alt="JRO Wealth Management"/></a>
	</div>
	<div class="one-third">
		<a href="https://www.youtube.com/watch?v=31C35kntUeI" class="vp-a"><img src="/wp-content/themes/maker-pro/images/sample-project.jpg" alt="JenniJune"/></a>
	</div>
	<div class="one-third">
		<a href="https://www.youtube.com/watch?v=febGOOqnNHA" class="vp-a"><img src="/wp-content/themes/maker-pro/images/whats-an-animated-explainer-vide.jpg" alt="What’s an animated explainer video"/>
	</div>
	<div class="clearfix"></div>
	<div class="cta">
		<a href="/recent-projects/" class="button">See More</a>
	</div>
</div>
<!-- End First HTML Zone -->



<!-- Second HTML Zone -->
<div id="slider1">
	<div class="viewport">
		<ul class="overview">
			<li><img src="/wp-content/themes/maker-pro/images/Garage.png" alt="Garage" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/GoAsk.png" alt="Go Ask Sam - Sam Pompeo" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/GoldenState.png" alt="Golden State Lumber" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/JenniJune.png" alt="JenniJune" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/Tripanthology.png" alt="Tripanthology" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/WhiteCollar.png" alt="White Collar Advice" /></li>
			<li><img src="/wp-content/themes/maker-pro/images/Yourtimesharelawyer.png" alt="Your Timeshare Lawyer" /></li>
		</ul>
	</div>
</div>
<!-- End Second HTML Zone -->



<!-- Third HTML Zone -->
<div class="value">
    <h4>Happy Customers</h4>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
</div>
<div class="testimonials">
    <div class="one-third first">
        <img src="/wp-content/themes/maker-pro/images/shon-hopwood.jpg" class="circle" alt="Person" />
        <img src="/wp-content/themes/maker-pro/images/ideal-socal-homes.png" alt="Ideal SoCal Homes" style="margin:10px auto;" />
        <p>“I was hesitant to put my TopVideoMarketer explainer video at the top of my home page as you advised, but now I clearly understand the benefits it brings. My site went from “good” to “WOW!” Now, for the price of a few dinners out with my family, I finally have a site that is doing something for me. Our conversion rates have doubled, and the video has been incredibly effective in persuading website visitors to choose us. I’m now sending the video to prospects through e-mails and remarketing with it on my social media pages. The investment paid for itself very quickly. It brings a smile to my face every time I watch it! Thanks to you, I’m a big believer in online video now.”</p>
        <h5>Shon Hopwood</h5>
        <h6>Lawyer, YourTimeShareLawyer.com</h6>
    </div>
    <div class="one-third">
        <img src="/wp-content/themes/maker-pro/images/sam-pompeo.jpg" class="circle" alt="Person" />
        <img src="/wp-content/themes/maker-pro/images/your-timeshare-lawyer.jpg" alt="Your Timeshare Lawyer" style="margin:10px auto;" />
        <p>“The Explainer Video you created for us exceeded our expectations! It’s fun and engaging, and it delivers the perfect message. With so much competition in my industry, this video sets us apart and clearly describes why our clients should choose us, every time! You guys nailed it. It’s the best marketing investment we have ever made. We will definitely use you again for more videos to promote our business. Thank you, TopVideoMarketer!”</p>
        <h5>Sam Pompeo</h5>
        <h6>Real Estate Expert, Ideal SoCal Homes</h6>
    </div>
    <div class="one-third">
        <img src="/wp-content/themes/maker-pro/images/memphis.jpg" class="circle" alt="Person" />
        <img src="/wp-content/themes/maker-pro/images/your-timeshare-lawyer.jpg" alt="Your Timeshare Lawyer" style="margin:10px auto;" />
        <p>Integer vehicula eu enim non laoreet. Duis placerat augue quis sapien sollicitudin fringilla. Duis nec est malesuada nisl venenatis rutrum. Nulla ullamcorper nulla leo, non dignissim risus porttitor et.</p>
        <h5>Insert Name</h5>
        <h6>Manager, Office of Administration</h6>
    </div>
    <div class="clearfix"></div>
    <!-- End row -->
</div>
<!-- End Third HTML Zone -->