<!-- Original video popup setup -->
	<!-- Front Page 1 widget contents -->
	<h1>Stunning Explainer Videos for Businesses That Want Results</h1>
	<h2>Watch this short and entertaining video to learn more</h2>
	<div style="text-align:center;">
	<div class="video">
	    <img src="/wp-content/themes/maker-pro/images/explainer-videos-imac@2x.png" style="max-width:600px;width:100%;" /a>
	    <a href="https://www.youtube.com/watch?v=RNCfO0G4X7Y" class="vp-a"></a>
	</div>
	<div class="clearfix"></div>
	    <a href="https://www.appointmentcore.com/app/freeslots/vAgutGXBX" class="button" target="_blank" style="margin-bottom: 40px;">Schedule a FREE 20 Minute Call <sub><i class="fa fa-play-circle fa-2x"></i></sub></a>
	</div>
	<div class="clearfix"></div>
	<!-- End Front Page 1 widget contents -->

	<!-- Originally in style-front.css -->
	.video a {
	    position: absolute;
	    display: block;
	    background: url("https://topvideomarket.wpengine.com/wp-content/themes/maker-pro/images/youtube-play-button.png");
	    height: 200px;
	    width: 200px;
	    top: 50%;
	    left: 50%;
	    margin: -150px 0 0 -100px;
	    opacity: .7;
	}
	<!-- End CSS -->

	@media only screen and (max-width: 800px) {

	.front-page-2 .info-dots {
		border:3px dotted #0066CC;
		border-left:3px dotted #0066CC;
		padding:20px;
		margin-bottom:40px;
	}

}


@media only screen and (max-width: 500px) {

	.video a{
		top:60%;
	}

}

@media only screen and (max-width: 375px) {

	.video a{
		top:61%;
	}

}

@media only screen and (max-width: 320px) {

	.video a{
		top:66%;
	}

}

<!-- Original video popup setup -->


<!-- Contact page header -->
	echo '<div id="contact-title-section" class="contact-title-section"><div class="wrap">';
	echo '<h1>We Create Memorable Explainer Videos</h1>';
	echo '<div class="contact-video"><a href="https://www.youtube.com/watch?v=31C35kntUeI" wpt-video-p="1" class="vp-a"><img src="/wp-content/themes/maker-pro/images/youtube-play-button-orange.png" alt="What is an explainer video"/></a></div>';
	echo '</div></div>';
<!-- End of older Contact page header -->

	echo '<div id="contact-title-section" class="contact-title-section"><div class="wrap">';
	echo '<h1>We Create Memorable Explainer Videos</h1>';
	echo '<div class="contact-video"><script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
	<div class="wistia_embed wistia_async_f1wh3oafy8 popover=true popoverContent=html" style="display:inline-block; white-space:nowrap;"><img src="/wp-content/themes/maker-pro/images/youtube-play-button-orange.png" alt="What is an explainer video"/></div></div>';
	echo '</div></div>';



